body {
	margin: 50px;
	background-color: #181818;
	@font-face {
    font-family: 'Myriad';
    src: url('Myriad-Italic.woff2') format('woff2'),
        url('Myriad-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

}



@media screen and (max-height:540px), screen and (max-width:350px)


#panel{
	position: relative;
	background: #FFF;
	margin: none;
 	padding: 20px 0 20px 0;
	width: 100VH;
	max-width: 100VW;
	height: 100VH;
	border: 0px solid #ccc;
}


#panel .globe-wrapper{
	position: relative;
	width: 450px;
	margin: auto;
}

